
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Catálogo de Usuarios</h1>
          <p class="mb-4">El catálogo de usuarios representa un listado de usuarios del sistema.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listado de usuarios del sistema</h6>
            </div>
            
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="dataTableUsers" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Apellido paterno</th>
                      <th>Apellido materno</th>
                      <th>Nombre</th>
                      <th>Correo Elect</th>
                    </tr>
                  </thead>
                 
                  <tbody>
                  
                  	<tr th:each="user: ${userList}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      
      <script type="text/javascript">
		
    
		
	</script>

